.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: #fff;
}
.main {
  width: 75%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url(./assets/bg.jpg) no-repeat center;
}

.top {
  height: 50%;
  position: relative;
}
.timer {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 0.35rem solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
  position: absolute;
  bottom: 0.8rem;
  left: 5rem;
}
.bottom {
  height: 50%;
}
.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 1.5rem;
}
.moneyListItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.moneyListItem.active {
  background-color: teal;
}
.moneyListItemNumber {
  font-size: 1rem;
  font-weight: 100;
  width: 30%;
}
.moneyListItemAmount {
  font-size: 1.3rem;
  font-weight: 300;
}

.endText {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
